<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Rock Paper Scissors Game</title>
</head>

<body>
    <h1>Welcome to the Rock Paper Scissors Game!</h1>
    <p>Enter your name below and get ready to play!</p>
    <form action="/game" method="post">
        <input id="player-name-textbox" type="text" name="playerName" placeholder="Your name" required><br />
        <input id="name-submit" type="submit" value="Start Game">
    </form>
</body>

</html>