<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title></title>
</head>

<body>
    <h1>You chose <%= playerOption %>
    </h1>
    <h1>Computer chose <%= computerOption %>
    </h1>
    <h2>
        <%= result %>
    </h2>
    <button><a id="match-link" href="/game">Next turn</a></button>
</body>

</html>